<% @jobs.each do |job| %>
  <div class="jumbotron">
    <h1 class="display-4"><%= job.title %></h1>
    <p class="lead"><%= job.description %></p>
    <hr class="my-4">
    <p>Local: <%= job.local %> | salário: <%= job.salary %> | tipo: <%= job.employment_type %></p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
<% end %>
